
/*  
Margins

*/
.mg-right-0 {
    margin-right: 0;
}

.mg-right-auto {
    margin-right: auto;
}

.mg-right-5 {
    margin-right: .5rem;
}

.mg-right-8 {
    margin-right: .8rem;
}

.mg-right-20 {
    margin-right: 2rem;
}

/*
Position

*/

.position-relative {
    position: relative;
}