<board-heading class="board__title-container">
    <input is="board-title-input" class="board__title-input hidden" type="text" value="Test" data-bind="board__title" data-grow-input data-click-focus-destination="board__title-input">
    <h1 is="board-title" class="board__title">
    test
    </h1>
</board-heading>