<header class="header">
  <div class="header__group header__group--left">
    <div class="header__atlasian">
      <button class="btn btn--header">
        <svg class="header__icon">
          <use xlink:href="./icons/sprite.svg#dots-menu"></use>
        </svg>
      </button>
    </div>
    <!--change to a-->
    <button class="btn btn--header">
      <svg class="header__icon">
        <use xlink:href="./icons/sprite.svg#home"></use>
      </svg>
    </button>
    <div class="header__boards">
      <button class="btn btn--header btn--boards">
        <svg class="header__icon header__icon--boards">
          <use xlink:href="./icons/sprite.svg#trello"></use>
        </svg>
        <span>Boards</span>
      </button>
    </div>
    <form action="#" class="header__search">
      <input type="text" class="header__input" placeholder="" />
      <button class="btn btn--search">
        <svg class="header__icon">
          <use xlink:href="./icons/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <a href="#" class="header__logo-link">
      <img
        src="./icons/trillo-header.png"
        alt="Trello Logo"
        class="header__logo-img"
      />
    </a>
  </div>

  <div class="header__group header__group--right">
    <button class="btn btn--header">
      <svg class="header__icon">
        <use xlink:href="./icons/sprite.svg#plus"></use>
      </svg>
    </button>
    <button class="btn btn--header">
      <svg class="header__icon">
        <use xlink:href="./icons/sprite.svg#information"></use>
      </svg>
    </button>
    <button class="btn btn--header">
      <svg class="header__icon">
        <use xlink:href="./icons/sprite.svg#notification"></use>
      </svg>
    </button>
  </div>
  <div class="user-icon">
    <span class="user-icon__initials">TH</span>
  </div>
</header>
