<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-Trello</title>
</head>
<body>
    <!-- HEADER END -->
    <%- require('./header.ejs')() %>
    <!-- MAIN START -->
    <main class="board">
    <%- require('./partials/board/management.ejs')() %>
        <div class="list-deck">
    <%- require('./partials/deck/list.ejs')() %>
        </div>
    </main>
</body>
</html>