<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V-Trello</title>
  </head>
  <body id="<%= id %>">
    <!-- HEADER END -->
    <%- include('./header.ejs') %>
    <!-- MAIN START -->
    <main class="board">
      <%- include('./partials/board/management.ejs') %>
      <div is="list-deck" class="list-deck">
        <%- include('./partials/deck/list.ejs') %>
      </div>
    </main>
  </body>
</html>
