.board {
    font-size: 1.4rem;
    color: #fff;
    
    padding: 0 1rem;
    &__title {
        font-size: 1.8rem;
        white-space: nowrap;
        padding: .7rem .8rem;
        cursor: pointer;

        &:hover {
            border-radius: $border-radius-default;
            background-color: hsla(0,0%,100%,.35);
        }
    }

    //element is hidden in default state by a u-class
    &__title-input {
    
        &:focus {
            font-size: 1.8rem;
            font-weight: 700;
            color: #000;
            padding: 0;
            border: revert;
            margin: 0;
            background: revert;
            outline: revert;
            position: relative;
            //width will be adjusted by JS - growing input
            width: 2em;
        }

        &:focus ~ h1 {
            color: transparent;

            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    &__title-container {
        // width: 6rem;
        // display: flex;
        // justify-content: center;
        position: relative;
        margin-right: 1.2rem;
    }

    &__management {
        height: 4.8rem;

        display: flex;
        align-items: center;
    }

    &__icon {
        fill: #fff;
        height: 1.5rem;
        width: 1.5rem;
    }

    &__ownership {
        @extend %board__pseudo-border;
    }

    &__visibility {
        @extend %board__pseudo-border;
    }
}