.list-deck {

    display: grid;
    color: rgb(23, 43, 77);

    &__list {
        padding: .4rem 1rem 0.8rem;
        border-radius: $border-radius-default;
        background-color: var(--color-list-background);
        width: 27.2rem;

    }

    &__title {
        font-size: 1.8rem;
    }

    &__title-input {
        font-size: 1.4rem;
        font-weight: 700;
        background-color: inherit;
        color: inherit;
        border: none;
        margin-left: .8rem;
        margin-bottom: .4rem;

        cursor: pointer;

        height: 3.3rem;


        &:focus {
            border: revert;
            margin-left: 0;
            background: revert;
            outline: revert;

        }
    }

    &__card-list {
        list-style: none;
    }

    &__card {
        background-color: var(--color-list-card-background);
        padding: .6rem .8rem;
        border-radius: $border-radius-default;
        margin-bottom: .5rem;
        box-shadow: 0 1px 0 rgba(9,30,66,.25);
        cursor: pointer;

        display: flex;

        &:hover {
            background-color: var(--color-list-card-background--hover);
        }

        &:hover .btn--edit-card {
            opacity: 1;
        }
    }

    &__card-title {
        font-size: inherit;
        font-weight: inherit;
        margin-right: auto;
    }

    &__add-card {
        color: var(--color-list-card-add-card);
        display:flex;
        justify-content: space-between;

        &:hover {
            color: #000;
        }
    }

    &__icon {
        fill: var(--color-list-card-add-card);;
        height: 1.2rem;
        width: 1.2rem;

        &:hover {
            fill: #000;
        }
    }
}