<card-list
  id="1"
  is="card-list"
  class="list-deck__list"
  draggable="true"
  data-draggable-list
  data-prev="0"
  data-next="2"
>
  <div class="list-deck__list-header">
    <h2 class="list-deck__title hidden">Things to do</h2>
    <textarea is="deck-title-textarea" class="list-deck__title-input">
Things to do</textarea
    >
  </div>
  <ul class="list-deck__card-list" is="card-deck">
    <li class="list-deck__card" is="single-card" draggable="true" data-draggable-card>
      <h3 class="list-deck__card-title">Say Hello World</h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
    <li class="list-deck__card" is="single-card" draggable="true" data-draggable-card>
      <h3 class="list-deck__card-title">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat
        autem libero nemo, necessitatibus inventore incidunt cumque provident
        vero voluptatem numquam dignissimos nesciunt, ullam saepe iste. Ipsum
        sapiente distinctio enim.
      </h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
  </ul>
  <div class="list-deck__list-footer">
    <div class="list-deck__add-card">
      <button class="btn btn--list btn--add-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#plus"></use>
        </svg>
        <span>Add another card</span>
      </button>
      <button title="Create from template..." class="btn btn--list">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#browser"></use>
        </svg>
      </button>
    </div>
  </div>
</card-list>

<!-- Druhy zoznam dummy-->
<card-list
  id="2"
  is="card-list"
  class="list-deck__list"
  draggable="true"
  data-draggable-list
  data-prev="1"
  data-next="3"
>
  <div class="list-deck__list-header">
    <h2 class="list-deck__title hidden">Things to do</h2>
    <textarea is="deck-title-textarea" class="list-deck__title-input">
Second list</textarea
    >
  </div>
  <ul class="list-deck__card-list" is="card-deck">
    <li class="list-deck__card" is="single-card" draggable="true" data-draggable-card>
      <h3 class="list-deck__card-title">Say Hello World</h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
    <li class="list-deck__card" is="single-card" draggable="true" data-draggable-card>
      <h3 class="list-deck__card-title">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat
        autem libero nemo, necessitatibus inventore incidunt cumque provident
        vero voluptatem numquam dignissimos nesciunt, ullam saepe iste. Ipsum
        sapiente distinctio enim.
      </h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
    <li class="list-deck__card" is="single-card" data-draggable-card draggable="true" >
      <h3 class="list-deck__card-title">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
  </ul>
  <div class="list-deck__list-footer">
    <div class="list-deck__add-card">
      <button class="btn btn--list btn--add-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#plus"></use>
        </svg>
        <span>Add another card</span>
      </button>
      <button title="Create from template..." class="btn btn--list">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#browser"></use>
        </svg>
      </button>
    </div>
  </div>
</card-list>
<card-list
  id="3"
  is="card-list"
  class="list-deck__list"
  draggable="true"
  data-draggable-list
  data-prev="2"
  data-next="4"
>
  <div class="list-deck__list-header">
    <h2 class="list-deck__title hidden">Things to do</h2>
    <textarea is="deck-title-textarea" class="list-deck__title-input">
Third list</textarea
    >
  </div>
  <ul class="list-deck__card-list">
    <li class="list-deck__card">
      <h3 class="list-deck__card-title">Say Hello World</h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
    <li class="list-deck__card">
      <h3 class="list-deck__card-title">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat
        autem libero nemo, necessitatibus inventore incidunt cumque provident
        vero voluptatem numquam dignissimos nesciunt, ullam saepe iste. Ipsum
        sapiente distinctio enim.
      </h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
  </ul>
  <div class="list-deck__list-footer">
    <div class="list-deck__add-card">
      <button class="btn btn--list btn--add-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#plus"></use>
        </svg>
        <span>Add another card</span>
      </button>
      <button title="Create from template..." class="btn btn--list">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#browser"></use>
        </svg>
      </button>
    </div>
  </div>
</card-list>
<card-list
  id="4"
  is="card-list"
  class="list-deck__list"
  draggable="true"
  data-draggable-list
  data-prev="3"
  data-next="0"
>
  <div class="list-deck__list-header">
    <h2 class="list-deck__title hidden">Things to do</h2>
    <textarea is="deck-title-textarea" class="list-deck__title-input">
Fourth list</textarea
    >
  </div>
  <ul class="list-deck__card-list">
    <li class="list-deck__card">
      <h3 class="list-deck__card-title">Say Hello World</h3>
      <button class="btn btn--list btn--edit-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#edit"></use>
        </svg>
      </button>
    </li>
  </ul>
  <div class="list-deck__list-footer">
    <div class="list-deck__add-card">
      <button class="btn btn--list btn--add-card">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#plus"></use>
        </svg>
        <span>Add another card</span>
      </button>
      <button title="Create from template..." class="btn btn--list">
        <svg class="list-deck__icon">
          <use xlink:href="./icons/sprite.svg#browser"></use>
        </svg>
      </button>
    </div>
  </div>
</card-list>
<add-list class="list-deck__list">
  <div class="list-deck__list-header">
    <input
      id="add-list-input"
      class="list-deck__title-input list-deck__title-input--add-list"
      type="text"
    />
  </div>
  <div class="list-deck__list-footer">
    <button id="add-list-btn-add" class="btn btn--add-list">Add list</button>
    <button id="add-list-btn-close" class="btn btn--close-add-list">
      &#x2715;
    </button>
  </div>
</add-list>
<button class="btn btn--bman btn--add-another-list">
  <svg>
    <use xlink:href="./icons/sprite.svg#plus"></use>
  </svg>
  <span>Add another list</span>
</button>
