<div class="list-deck__list">
    <div class="list-deck__list-header">
        <h2 class="list-deck__title hidden">Things to do</h2>
        <textarea is="deck-title-textarea"class="list-deck__title-input">Things to do</textarea>
    </div>
    <ul class="list-deck__card-list">
        <li class="list-deck__card">
            <h3 class="list-deck__card-title">
                Say Hello World
            </h3>
            <button class="btn btn--list btn--edit-card">
                <svg class="list-deck__icon">
                    <use xlink:href="assets/icons/sprite.svg#edit"></use>
                </svg>
            </button>
        </li>
        <li class="list-deck__card">
            <h3 class="list-deck__card-title">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat autem libero nemo, necessitatibus inventore incidunt cumque provident vero voluptatem numquam dignissimos nesciunt, ullam saepe iste. Ipsum sapiente distinctio enim.
            </h3>
            <button class="btn btn--list btn--edit-card">
                <svg class="list-deck__icon">
                    <use xlink:href="assets/icons/sprite.svg#edit"></use>
                </svg>
            </button>
        </li>
    </ul>
    <div class="list-deck__list-footer">
        <div class="list-deck__add-card">
            <button class="btn btn--list btn--add-card">
                <svg class="list-deck__icon">
                    <use xlink:href="assets/icons/sprite.svg#plus"></use>
                </svg>
                <span>Add another card</span>
            </button>
            <button title="Create from template..." class="btn btn--list">
                <svg class="list-deck__icon">
                    <use xlink:href="assets/icons/sprite.svg#browser"></use>
                </svg>
            </button>
        </div>
    </div>
</div>